@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);



.description {
  margin-top: 50px;
  text-align: center;
  color: #999;
  transition: opacity 0.3s ease; }

.description a {
  color: #4A9DF6;
  text-decoration: none; }

.btn1.is-open ~ .description {
  opacity: 0; }

.btn1 {
  display: block;
  position: relative;
  border-radius: 15px;
    width: 200px;
    height: 50px;



  transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  text-align: center; }

.btn1-front {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  
  /* adapatation couleur et forme du bouton supprimer compte en fonction de la charte graphique (basé sur le style du btn-profil du css de greg */
  background-color: #26252A;
  border-radius: 15px;
  /* ********************* */
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1); }
  .btn1-front:hover {
    background-color: #f77066; }

.btn1-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
  color: #222;
  transform: translateZ(-2px) rotateX(180deg);
  overflow: hidden;
  transition: box-shadow 0.8s ease; }
  .btn1-back p {
    margin-top: 27px;
    margin-bottom: 25px; }
  .btn1-back button {
    padding: 12px 20px;
    width: 30%;
    margin: 0 5px;
    background-color: transparent;
    border: 0;
    border-radius: 2px;
    font-size: 1em;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: background 0.15s ease; }
  .btn1-back button:focus {
    outline: 0; }
  .btn1-back button.yes {
    background-color: #2196F3;
    color: #fff; }
    .btn1-back button.yes:hover {
      background-color: #51adf6; }
  .btn1-back button.no {
    color: #2196F3; }
    .btn-back button.no:hover {
      background-color: #ddd; }

.btn1[data-direction="left"] .btn1-back,
.btn1[data-direction="right"] .btn1-back {
  transform: translateZ(-2px) rotateY(180deg); }

.btn1.is-open {
  width: 400px;
  height: 160px; }
  .btn1.is-open .btn1-front {
    pointer-events: none;
    line-height: 160px; }
  .btn1.is-open .btn1-back {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4); }

.btn1[data-direction="top"].is-open {
  transform: rotateX(180deg); }

.btn1[data-direction="right"].is-open {
  transform: rotateY(180deg); }

.btn1[data-direction="bottom"].is-open {
  transform: rotateX(-180deg); }

.btn1[data-direction="left"].is-open {
  transform: rotateY(-180deg); }