
/************ TEST ANIMATION ***********/
.block {
	position: relative;
	margin: 300px auto 0;
	width: 500px;
	height: 50px;
	background: linear-gradient(0deg, #000, #272727);
}

.block:before, .block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block:after {
	filter: blur(50px);
}


/*************************************/


.btn-profil {
    background-color: #26252A;
    padding: 0.3em;
    color: #FFFFFF;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    line-height: 38px;
}

.badge img {
    width: 90px;
}

#edit_info{
    width: 80%;
    height: 450px !important;
    padding-top: 40px;
}

#user_info{
    width: 100%;
    background-color:white;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 5vh;
    
}

/* Box-shadow */
/* #user_info1{
    -webkit-box-shadow: 0px 1px 15px -1px #0A0A0A; 
     box-shadow: 0px 1px 15px -1px #0A0A0A;

} */

#img_avatar{
    width: 130px!important;
    height: 130px!important;
    border-radius: 5rem!important;
    border:solid black 2px;
}

#btn_editer{
    display: none;
}
/*******CONTAINER  USER_INFO***********************/

    /****Bounton (Succes/Modifier compte) ***/
    /*#btn_succes{
        font-size: 10px;
        display: none;
    }
    #btn_modif{
       font-size: 10px;
       display: none;
    }
    #btn_editer{
        display: block;
    }*/

    /****User_INFO ****/
    /*#user_info{
        width: 100%;
        height: 100%;
    }
    #score_rang_statut{
        padding-top: 47px;
    }*/
    
/************************************************/


.icon-size{
    width: 25px!important;
}