@charset "utf-8";

@import 'font-face.css';

body{
  font-family: 'Futura PT', sans-serif;
  font-size: 1,25em!important;
  letter-spacing: 1px!important;
}

/*index*/
/*header*/
header#home {
  background-color: #ffcc50;
  height: 100vh;
}
#home nav, #login nav {
  height: 56px;
  background-color: #ffcc50;
  font-family: 'Poppins', sans-serif;
}

#title {
  height: 190px;
  color: #761C00;
}

#title h1 {
  font-weight: 900;
  font-size: 2.5em;
}

/*slider*/
.owl-stage-outer {
  height: 410px;
}

#tagline {
  /*height: 300px;*/
  font-family: 'Poppins', sans-serif;
}

#tagline h4 {
  color: #B4701F;
}

#tagline p {
  color: #C33608;
  font-size: 1.08em;
}

/*section*/
#moukatage {
  background-color: #26252a;
}

#box {
  width: 336px;
  height: 310px;
  background-color: #000000;
  /*background-image: url('../images/joe-bedier-mob.jpg');*/
}

#subject h2 {
  color:white;
}

#subject p {
  color:white;
}

#subject form label {
  font-size: 0.9em;
}

#subject button {
  background-color: #C33608;
}

#sort-by select {
  width: initial;
  height: initial;
}

.comment-box {
  background: #fff;
  padding: 10px;
}

.comment-box span {
  background-color: #a4c3cd;
  color: #000;
}

footer {
  background-color: #C33608;
}

/* FORM LOGIN REGISTER */
#login-register{
  background-color: #26252a;
  color: white;
}

#form-login{
  height: 100%;
  background-color: #26252a;
  color: white;
}

#form-login form {
  width: 360px;
}

#form-login button {
  background-color: #ffcc50;
  color: #26252a;
}

/* DASHBOARD */
header#admin{
  background-color: #26252a;
}

#form-admin form {
  width: 400px;
}

#form-admin #btn-update {
  width: 400px;
}

#form-admin #btn-create {
  width: 400px;
}

#form-subject #preview img{
  background-color: black;
  width: 360px;
  height: 310px;
}


/********** MEDIA QUERIES **********/

@media (min-width: 768px) {

  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-collapse {
    width: initial;
  }
  #title {
    height: 448px;
  }
  #title h1 {
    font-size: 5em;
  }
  #slider {
    width: 520px;
  }
  #tagline h4 {
    font-size: 2em;
  }
  #tagline p {
    font-size: 1.6em;
  }
  #moukatage {
    padding-top: 3em!important;
  }

}

@media (min-width: 1200px) {
  .owl-stage-outer {
    height: 300px;
  }
  #title {
    height: 150px;
  }
}