/* Charte graphique*/
/* navbar #FFCC50*/
/* button #26252A */
/* body #26252A*/


#id-navbar{
    background-color: #ffcc50;
    width: 100%!important;
  }

  #id-nav-footer{
    background-color: #ffcc50;
    width: 100%!important;
  }

  body {
    font-family: 'Roboto', sans-serif;
    background-color: #26252A;
    color: #26252A;
    letter-spacing: 2px!important;
}


/* ************************************************************ */



/* *********************************************************** */
/* TITRE POLICE */
.box-titre{
    border-radius:8px;
    padding: 0.5em;
    background-color:#ffcc50!important;
}

.box-titre h2{
    font-size: 1.2em;
    color: #26252A;
    margin-bottom: 0px;
}

/* *********************************************************** */
/* TITRE POLICE */
h4{
   color:rgba(202, 30, 30, 0.863)!important;
   font-weight:bold;
}

/* *********************************************************** */
/* cadre formulaire  */
.box-formulaire{
    border-radius:25px;
    background-color: #FFFFFF!important;
}


/* *********************************************************** */
/* cadre offre  */
.box-offre{
    border-radius:4vh;
    background-color:#ecebe6!important;
}

.custom-file-input:lang(fr)~.custom-file-label::after {
    content: "Upload";
}

/* *********************************************************** */
/* text navbar FOOTER  */
.text-nav-foot{
    color:rgba(202, 30, 30, 0.863)!important;
    font-weight:bold;
    font-size: 0.9em;
}

/* *********************************************************** */
/*box FOOTER  */

.box-footer{
    height: 10vh;

}



/* MEDIA QUERIES limite descendante*/


/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #form-connexion .container, #form-inscription .container {
        padding: 0 10em;
    }
}


/* media queries limites montantes */

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  }
/* 
// Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {  }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }