@charset "utf-8";

/*
font-family: 'Slackey', cursive;
font-family: 'Roboto', sans-serif;

*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #26252A;
    color: #26252A;
    letter-spacing: 2px!important;
}

.black {
    background-color: #26252A;
}

.letter-spacing {
    letter-spacing: 1px!important;
}

/******** ACCUEIL ********/

.logo {
    padding-top: 1.875em;
}

.logo img {
    width: 180px;
    height: 50px;
}

section {
    padding-bottom: 1.875em;
}

h1 {
    font-family: 'Slackey', cursive;
}

h1.tagline {
    font-size: 2.1em;
    padding-top: 1.875em;
    padding-bottom: 1.875em;
    color: white;
}

#slider h3, #slider p {
    font-size: 0.9em;
}

.btn-connexion, .btn-visiter {
    width: 200px;
    height: 50px;
    line-height: 38px;
} 

.btn-connexion {
    background-color: #FFCC50;
}

.btn-visiter {
    background-color: #C33608;
}

.btn-connexion:hover, .btn-visiter:hover, .btn-hover:hover {
    border-radius: 10px;
} 

/* MEDIA QUERIES */
@media (min-width: 768px) {
    .logo {
        padding: 1.875em 0 1.875em 0;
    }
    .logo img {
        width: 320px;
        height: 90px;
    }
    h1.tagline {
        font-size: 5.1875em;
    }
    #slider h3, #slider p {
        font-size: 1.25em;
    }
}

@media (min-width: 1200px) {
    h1.tagline {
        font-size: 7.5em;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
    }
    #slider {
        padding-right: 5em;
        padding-left: 5em;
    }
    #slider h3, #slider p {
        font-size: 1.45em;
    }
}


/******** TOPICS & MOUKATAGES ********/

.header-main {
    background-color: #FFCC50;
    padding: 0.625em 0;
}

nav {
    height: 50px;
}
nav img {
    width: 110px;
    /*height: ;*/
}

.header-main #navbarNav {
    background-color: #FFCC50;
}

.h1-section {
    font-size: 1.75em;
}

.sujet {
    border-radius: 25px;
}

.sujet img {
    border-radius: 20px;
}

.sujet p {
    font-size: 1.125em;
    font-weight: 500;
}

.info, .moukatage, .autre {
    border-radius: 15px;
}

.nombre {
    border-radius: 10px;
    font-size: 1.25em;
    width: 70px;
    height: 40px;
}
.restant p {
    font-size: 0.5em;
}

#form-publier {
    border-radius: 25px;
}
#form-publier textarea {
    border-radius: 10px;
    background-color: #e4eef8;
}

#form-publier textarea::placeholder {
    text-align: center;
}

.trier button {
    font-size: 0.7em;
}

.nb-vote {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    font-size: 1.1em;
}

.avatar img {
    width: 60px;
    height: 60px;
}

.info-profil p:first-child {
    font-size: 1.25em;
}

.info-profil p:last-child {
    font-size: 0.8em;
}

i.like-btn, i.dislike-btn {
    cursor: pointer;
}

.autre img {
    width: 113px;
    height: 110px;
    border-radius: 15px;
}

.autre p {
    font-size: 0.8em;
}

footer {
    background-color: #C33608;
}
footer a {
    color: white;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
    .h1-section {
        font-size: 2em;
    }
    .image {
        width: 55%;
    }
    .sujet-text {
        width: 45%;
    }
    #form-publier textarea::placeholder {
        /*text-align: center;*/
        line-height: 70px;
    }
    .moukatage p {
        font-size: 1.125em;
    }
    .autre p {
        font-size: 1em;
    }
}

@media (min-width: 1200px) {
    .image img {
        width: 556px;
        height: 394px;
    }
    .sujet p {
        font-size: 1.875em;
        font-weight: 700;
    }
    .info p {
        font-size: 1.5em;
    }
    #form-publier textarea {
        height: 60px;
    }
    #form-publier textarea::placeholder {
        /*text-align: left;*/
        line-height: 50px;
        color: #b6b6b6;
        letter-spacing: 2px;
    }
    .moukatage p {
        font-size: 1.25em;
    }
}



/*********************
*   MENU HAMBURGER   *
*********************/
.menu-toggle {
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
}

.menu-toggle input:checked ~ ul {
    /*opacity: 1;*/
    display: block;
}

.menu-toggle input {
    width: 33px;
    height: 28px;
    cursor: pointer;
    opacity: 0;
    z-index: 5;
    position: absolute;
    
}

.menu-toggle span {
    display: block;
    position: relative;
    width: 33px;
    height: 5px;
    background-color: #000;
    margin-bottom: 0.4em;
    z-index: 3;
    border-radius: 5px;
    transform-origin: 0 0;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background-color 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}

.menu-toggle input:checked ~ span {
    background-color: #C33608;
    transform-origin: 0 0;
    transform: rotate(45deg) translate(5px, -4px);
    /*opacity: 1;*/
}

.menu-toggle input:checked ~ span:nth-last-child(3) {
    transform-origin: 0 0;
    transform: rotate(0deg);
    opacity: 0;
}

.menu-toggle input:checked ~ span:nth-last-child(2) {
    transform-origin: 0 0;
    transform: rotate(-45deg) translate(1px, 3px);
    }

.menu {
    position: absolute;
    width: 320px;
    background-color: #ffcc50;
    /*opacity: 0;*/
    display: none;
    margin: 22px 0 0 0;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    padding-left: 0px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    transform: translate(-272px, -1px);
    /*transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);*/
    transition: display 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu-toggle a {
    text-decoration: none;
    color: #26252A;
}

.menu-toggle a:hover {
    color: white;
}

.menu li {
    padding: 0.625em 0;
    font-size: 1.375em;
    text-transform: uppercase;
}

.current-page {
    border: 1px solid white;
    border-radius: 17px;
    color: white;
    margin: 10px 20px;
    font-weight: bold;
}

/**** NAVBAR *******/
.nav-avatar {
    width: 32px;
    height: 32px;
    border-radius: 5rem;
}

/**** UPDATE PROFIL ****/
.btn-annuler {
    width: 145px;
    height: 38px;
    line-height: 25px;
}
.btn-annuler:hover {
    background-color: #343a40;
    color: #FFFFFF;
    border-radius: 10px;
} 